html {
	--olin-blue: #009bdf;
	--olin-silver: #a7a9ac;
	--olin-fonts: OlinDIN, Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: OlinDIN;
	src: url(fonts/din/dinot.otf);
	font-weight: normal;
}

@font-face {
	font-family: OlinDIN;
	src: url(fonts/din/dinot-bold.otf);
	font-weight: bold;
}

* {
	font-family: var(--olin-fonts);
}

h1.display-4 {
	font-weight: bold;
}

.navbar-brand {
	font-size: 1.5em;
	font-weight: bold;
	color: black;
}

.olin-wordmark {
	color: var(--olin-blue);
}

.jumbotron {
	background: none;
}

.jumbotron > * {
	text-align: center;
}

.jumbotron > form {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	text-align: unset;
}

section#main {
	min-height: 100vh;
	padding-bottom: 10rem;
}

.faq-questions {
	margin-top: 1em;
}

.faq-question {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0.8em;
}

section#faqs {
	padding: 5ch 5ch;
}

.faq-answer pre {
	display: block;
	margin: 1em 0;
}

.faq-answer h4 {
	font-size: 1em;
	font-weight: bold;
	margin-top: 1em;
}

.faq-answer code {
	color: #333;
}

.faq-answer ul {
	margin-bottom: 0;
}
