html {
	--olin-blue: #009bdf;
	--olin-silver: #a7a9ac;
	--olin-fonts: OlinDIN, Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: OlinDIN;
	src: url(fonts/din/dinot.otf);
	font-weight: normal;
}

@font-face {
	font-family: OlinDIN;
	src: url(fonts/din/dinot-bold.otf);
	font-weight: bold;
}

* {
	font-family: var(--olin-fonts);
}

body:not(.notfound) .main-title {
	font-weight: bold;
}

.navbar-brand {
	font-size: 1.5em;
	font-weight: bold;
	color: black;
}

.olin-wordmark {
	color: var(--olin-blue);
}

.main-container {
	background: none;
	flex-grow: 1;
}

.main-container > * {
	text-align: center;
}

.form-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	text-align: unset;
}

.notfound-shortlink {
	font-weight: bold;
	display: block;
}

.notfound-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.1em;

	margin-top: 2.5em;
}

.success-url-container {
	max-width: 100%;
	font-size: max(1rem, min(3.5rem, 8vw));
}

.success-url-container > .success-shortlink {
	word-break: break-all;
	max-width: 100%;
}

.url-wrap {
	max-width: 100%;
	white-space: nowrap;
	overflow-x: auto;

	/* Don't know why we need these two, but it prevents vertical scroll bars. I can't figure out
	   any other way to get that to happen. */
	overflow-y: hidden;
	padding-bottom: 0.25em;
}

section#main {
	min-height: 100vh;
	padding-bottom: 10rem;
	display: flex;
	flex-direction: column;
}

.faq-questions {
	margin-top: 1em;
}

.faq-question {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0.8em;
}

section#faqs {
	padding: 5ch 5ch;
}

.faq-answer pre {
	display: block;
	margin: 1em 0;
}

.faq-answer h4 {
	font-size: 1em;
	font-weight: bold;
	margin-top: 1em;
}

.faq-answer code {
	color: #333;
}

.faq-answer ul {
	margin-bottom: 0;
}

body.admin tr:not(.editing) .editable {
	display: none;
}

body.admin tr.editing .no-edit {
	display: none;
}
