Hi,

This email is to confirm that you've registered the shortlink https://olin.link/{{ shortlink.id }}, which currently points to: {{ shortlink.url }}.

If you have any questions or this comes as a surprise to you, please reply to this email to let us know.

Thanks!
Olin.link